body {
    background-image: url("drift.webp"); /* You can change image to lightning.jpg or audi r8 black.jpg */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}

h1 {
    font-family: "Times New Roman";
    color: cyan;
    text-align: center;
}

p {
    font-family: Verdana;
    font-size: 18px;
    color: pink;
    text-align: center;
}
img {
    border: 10px solid white; /* Creates the frame */
    width: 300px;             /* Keeps the image size manageable */
    display: block;           /* Allows centering */
    margin: 20px auto;        /* Centers the image */
}