body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: brown;
    border-bottom: 2px solid black;
}

p {
    font-size: 14px;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

small {
    color: gray;
}
