body{
    background-image: url("lightning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    color: beige;
}
ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

p {
    border: 2px solid rgb(183, 111, 111);
    padding: 10px;
}

h2 {
    border: 2px dashed blue;
    padding: 5px;
}
